
.button {
    border-radius: 4px;
    background-color: lightblue;
    border: none;
    color: purple;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 900px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  
  .button {
      width: 900px;
      height: 100px;
      border: 1px dotted palevioletred;
      -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 5s infinite;
    }
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
      50% {border-width: 15px;}
    }
    
    @keyframes mymove {
      50% {border-width: 15px;}
    }
  
  
    .it{
      animation:blinkingText .9s infinite;
  }
  @keyframes blinkingText{
      0%{     color: #000;    }
      49%{    color: transparent; }
      50%{    color: transparent; }
      99%{    color:transparent;  }
      100%{   color: #000;    }
  }