@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}

h1 {
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;
}


header {
	height: 160px;
}

#form {
	height: 100%;
	/* background-color: #98d4f3; */
	overflow: hidden;
	position: relative;
}

form {
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}

label, input, textarea {
	display: block;
}

input, textarea {
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 1px #3F51B5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus, textarea:focus {
	border: solid 1px #FF5722;
}

textarea {
	height: 100px;
	resize: none;
	overflow: auto;
}

input[type="submit"] {
	background-color: #3F51B5;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

input[type="submit"]:hover {
	background-color: #ff5722;
}

label {
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

.formgroup, .formgroup-active, .formgroup-error {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup-active {
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}