/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

nav .brand-logo {
  position: absolute;
  color: white;
  display: inline-block;
  font-size: 4.1rem;
  padding: 0;
  font-family: 'Fredoka One', cursive;
  ;
}

.card-content {
  font-size: 15px;
  font-family: 'Fredoka One', cursive;
}

.material-icons.orange600 { color: #FB8C00; }